<form class="form-group" {{action 'save' on='submit'}}>
<button class="btn btn-xs" {{action 'save' on='submit'}}>Save Article</button>
</form>
<button class="btn btn-xs btn-danger" {{action 'cancel'}}>Cancel</button>
