
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navigation">
      <ul class='otto-bar'>
        {{#if isAuthenticated}}
        <li class="otto-bar-cotent">{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li class="otto-bar-cotent"><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li class="otto-bar-cotent">{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li class="otto-bar-cotent">{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>

<h4>This is the sekrit page of Otto where he can log in and do various nefarious things, almost exclusively related to updating content for the site.</h4>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
